<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--compilation targetFramework="3.0" debug="true">
      <assemblies>
        <add assembly="System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation-->
  </system.web>
  <connectionStrings>
    <add name="apmConn" connectionString="server=.;database=apm_nanomembrane;Min Pool Size=10;Max Pool Size = 1000;Trusted_Connection=no;uid=sa;pwd=meihuang" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
